@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111815;

  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*::selection {
  color: #111815;
  background-color: #d1d5db;
}

/* TODO - add this classname to lobby/cards component */
.custom-scrollbar::-webkit-scrollbar {
  width: 0.6rem;
  background: var(--color-light-black);
  -webkit-border-radius: 1rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-medium-grey);
  -webkit-border-radius: 1rem;
  cursor: pointer;
}

.custom-text-gradient {
  color: transparent;
  background: linear-gradient(to bottom, #515151 0%, #66666699 100%);
  background-clip: text;
  -webkit-background-clip: text;
}
